body {
  background-color: black;
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  flex-direction: column;
}

#typer{
  height:50px;
  font-size:16pt;
}

label {
  color: white;
  font-size: 48px;
}

p {
  color: white;
  font-size: 48px;
}

#gameInputs {
  display: flex;
  align-items:center;
}

.input{
  flex: 1;
  display: flex;
  align-items: center;
  margin-left: 4rem;
  margin-right: 4rem;
}

.value {
  margin-left: 1rem;
}